@charset "UTF-8";
/*------アニメーション------*/
@keyframes spmenuMove {
  0% {
    transform: translateX(0) rotate(360deg);
  }
  40% {
    transform: translateX(0) rotate(0);
  }
  60% {
    opacity: 0.6;
    transform: translateX(-200) rotate(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-400px) rotate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeftSpmenu {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(300px);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*---------v-animation----------*/
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.smooth-button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 5%;
  background-color: #bbd2c570;
  height: 100%;
  transition: 0.4s;
}
@media screen and (max-width: 415px) {
  .smooth-button::before {
    display: none;
  }
}
.smooth-button:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: #9df1c270;
  height: 100%;
  transition: 0.4s;
}
@media screen and (max-width: 415px) {
  .smooth-button:hover::before {
    display: none;
  }
}

.l-header {
  height: 160px;
  width: 100%;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .l-header {
    height: 80px;
    display: block;
  }
}

.xl-main {
  height: 800px;
}
@media screen and (max-width: 415px) {
  .xl-main {
    height: auto;
  }
}

.l-hearing-main {
  height: 800px;
}
@media screen and (max-width: 415px) {
  .l-hearing-main {
    height: 650px;
  }
}

.l-main {
  height: 600px;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 415px) {
  .l-main {
    height: auto;
  }
}

.s-main {
  height: 100px;
  margin: 30px auto auto auto;
  width: 70%;
}
@media screen and (max-width: 415px) {
  .s-main {
    width: 80%;
    padding-top: 25px;
  }
}

.l-space {
  height: 100px;
  width: 100%;
}
.l-space__border {
  display: block;
  border-bottom: black 3px solid;
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
}
.l-space__border:after {
  content: "";
  width: 20%;
  border: #14D0B3 1px solid;
  position: absolute;
  bottom: -3px;
}

.l-footer {
  width: 100%;
  background-color: beige;
  border-top: 3px solid;
}

.c-about__wrapper {
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 50px;
  position: relative;
}
@media screen and (max-width: 415px) {
  .c-about__wrapper {
    margin-top: 0px;
    display: block;
  }
}
.c-about__box {
  width: 50%;
  margin-top: 100px;
}
@media screen and (max-width: 415px) {
  .c-about__box {
    margin-top: 0px;
    width: 100%;
  }
}
.c-about__box h2 {
  text-align: center;
  margin: 50px auto;
  background: #14D0B3;
  width: 70%;
  padding: 15px;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}
@media screen and (max-width: 415px) {
  .c-about__box h2 {
    margin: 20px auto;
    width: 90%;
    font-size: 18px;
  }
}
.c-about__box p {
  width: 80%;
  text-align: left;
  margin: 30px auto;
  letter-spacing: 1px;
  line-height: 24px;
}
@media screen and (max-width: 415px) {
  .c-about__box p {
    font-size: 14px;
  }
}
.c-about__backbox {
  position: absolute;
  width: 60%;
  height: 450px;
  background-color: #ae9d9d;
  top: 60px;
  right: 150px;
  z-index: -1;
}
.c-about__image {
  width: 50%;
  margin: 100px auto;
}
@media screen and (max-width: 415px) {
  .c-about__image {
    width: 80%;
    margin: 50px auto;
  }
}
.c-about__image img {
  width: 95%;
  box-shadow: 4px 4px black;
}
.c-about__btn-wrapper {
  text-align: center;
}
.c-about__btn-wrapper button {
  background-color: #14D0B3;
  color: white;
  text-shadow: 1px 1px black;
  width: 200px;
  height: 50px;
  position: relative;
}
.c-about__btn-wrapper button a {
  color: white;
  text-decoration: none;
}

.c-footer__info-wraaper {
  display: flex;
  justify-content: flex-start;
}
.c-footer__info {
  width: 100%;
  line-height: 50px;
}
.c-footer__info ul {
  display: flex;
  justify-content: space-around;
  background: #14D0B3;
  border-bottom: 1.5px solid;
}
.c-footer__info li {
  display: inline;
  margin: 5px 20px;
}
@media screen and (max-width: 415px) {
  .c-footer__info li {
    font-size: 10px;
    margin: auto;
  }
}
.c-footer__info li a {
  text-decoration: none;
  color: white;
}
.c-footer__address {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  width: 50%;
}
.c-footer__address span {
  font-size: 20px;
  line-height: 35px;
  margin-left: 10px;
  font-weight: bold;
}
.c-footer__logo {
  width: 30%;
  text-align: center;
  height: 100%;
  line-height: 100%;
  height: 60px;
  line-height: 60px;
  margin: auto 5px;
}
@media screen and (max-width: 415px) {
  .c-footer__logo {
    width: 50%;
  }
}
.c-footer__logo a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.c-form__wrapper {
  text-align: center;
  height: 100%;
  width: 90%;
  margin: auto;
}
.c-form__wrapper h2 {
  padding: 50px;
  font-size: 40px;
}
.c-form__wrapper h2::after {
  content: "Contact";
  display: inherit;
  color: #8e8e0b;
  font-size: 20px;
}
.c-form__wrapper label {
  display: block;
}
.c-form__wrapper p {
  margin: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}
@media screen and (max-width: 415px) {
  .c-form__wrapper p {
    font-size: 14px;
  }
}

form input {
  margin: 5px;
  border: 1px solid;
  font-size: 18px;
  padding: 5px 15px;
  box-shadow: 4px 4px;
}
@media screen and (max-width: 415px) {
  form input {
    width: 80%;
  }
}

form textarea {
  height: 200px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid;
  font-size: 18px;
  overflow: scroll;
  box-shadow: 4px 4px;
  padding: 5px 15px;
}

.c-form__submitbtn {
  width: 150px;
  height: 30px;
  text-align: center;
  box-shadow: 4px 4px;
  margin: 10px;
}
@media screen and (max-width: 415px) {
  .c-form__submitbtn {
    width: 100px;
  }
}
.c-form__submitbtn:hover {
  box-shadow: 5px 5px;
  transform: translateY(-1px);
}

.c-hero {
  height: 100vh;
  width: 100%;
  background: url(../image/out/hero-bg.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 98%, 0 100%);
}
@media screen and (max-width: 415px) {
  .c-hero {
    height: 60vh;
  }
}
.c-hero__logo {
  background-color: #14D0B3;
  width: 25%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  text-shadow: 1px 1px black;
  padding-top: 45px;
  display: block;
}
@media screen and (max-width: 415px) {
  .c-hero__logo {
    height: 80px;
    width: 100%;
    line-height: 80px;
    padding-top: 0;
  }
}
.c-hero__logo img {
  width: 50px;
  position: absolute;
  left: 25px;
  top: 50px;
}
@media screen and (max-width: 415px) {
  .c-hero__logo img {
    top: 15px;
    left: 55px;
  }
}
.c-hero__logo a {
  text-decoration: none;
  color: white;
}
.c-hero__adress {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: auto 20px auto auto;
  border: 1px #8e8e0b6b solid;
  padding: 10px;
}
.c-hero__adress span {
  font-size: 20px;
  line-height: 35px;
}
.c-hero__top {
  position: absolute;
  top: 30%;
  left: 100px;
}
@media screen and (max-width: 415px) {
  .c-hero__top {
    width: 100%;
    top: 15%;
    left: 0;
  }
}
.c-hero__top h1 {
  margin: 15px auto;
  font-size: 5rem;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
}
@media screen and (max-width: 415px) {
  .c-hero__top h1 {
    font-size: 24px;
    text-align: center;
  }
}
.c-hero__recruit {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 160px;
  border: dotted #14D0B3;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.3s;
}
@media screen and (max-width: 415px) {
  .c-hero__recruit {
    font-size: 14px;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
.c-hero__recruit::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background: white;
}
.c-hero a {
  text-decoration: none;
  color: black;
}

.c-hero__recruit:hover::after {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
}

.c-nav__wrapper {
  writing-mode: vertical-rl;
  margin: auto 50px;
}
@media screen and (max-width: 415px) {
  .c-nav__wrapper {
    display: none;
  }
}
.c-nav__wrapper ul {
  height: 100%;
  padding-left: 30px;
}
.c-nav__wrapper li {
  margin: 30px 10px;
  vertical-align: bottom;
  display: inline-block;
  height: 100%;
}
.c-nav__wrapper li:hover {
  transform: scale(1.03);
  opacity: 0.7;
  transition: 0.2s;
}
.c-nav__wrapper a {
  text-decoration: none;
  color: black;
}

.c-hearing__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.c-hearing__image {
  width: 50%;
  margin: 100px auto;
  display: none;
}
@media screen and (max-width: 415px) {
  .c-hearing__image {
    display: block;
    width: 80%;
    margin: 50px auto;
  }
}
.c-hearing__image img {
  width: 95%;
  box-shadow: 4px 4px black;
}
.c-hearing__bg {
  background: url("../image/hear.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 415px) {
  .c-hearing__bg {
    background: none;
    height: auto;
  }
}
.c-hearing__text {
  position: absolute;
  top: 20%;
  right: 10%;
  background-color: #f0f8ffd4;
  width: 40%;
  border: 0.5px dotted;
  box-shadow: 2px 2px black;
}
@media screen and (max-width: 415px) {
  .c-hearing__text {
    position: relative;
    top: auto;
    right: auto;
    margin: 50px auto;
    width: 90%;
  }
}
.c-hearing__text h2 {
  margin: 25px auto;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .c-hearing__text h2 {
    font-size: 18px;
  }
}
.c-hearing__text p {
  letter-spacing: 1px;
  line-height: 25px;
  text-align: left;
  padding-left: 3%;
  font-size: 14px;
}
.c-hearing__btn-wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 25%;
}
@media screen and (max-width: 415px) {
  .c-hearing__btn-wrapper {
    display: none;
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
}
.c-hearing__btn-wrapper button {
  background-color: #14D0B3;
  color: white;
  text-shadow: 1px 1px black;
  width: 200px;
  height: 50px;
}
.c-hearing__btn-wrapper button a {
  color: white;
  text-decoration: none;
}

.bg {
  background: url(../image/news.jpg);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: cover;
}

.c-news__wrapper {
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  position: relative;
}
.c-news__wrapper img {
  max-height: 200px;
  float: right;
}
.c-news__space {
  height: 100px;
}
@media screen and (max-width: 415px) {
  .c-news__space {
    height: 0;
  }
}
.c-news__text {
  width: 55%;
  float: left;
  text-align: center;
  margin: 20px auto auto 30px;
  border-left: 50px solid #14D0B3;
  border-top: 1px black solid;
}
@media screen and (max-width: 415px) {
  .c-news__text {
    width: 100%;
    float: none;
    margin: auto;
    border-left: 5px solid #14D0B3;
  }
}
.c-news__text h2 {
  margin: 20px;
}
@media screen and (max-width: 415px) {
  .c-news__text h2 {
    margin: 10px;
    font-size: 18px;
  }
}
.c-news__text p {
  margin: 10px;
}
@media screen and (max-width: 415px) {
  .c-news__text p {
    font-size: 12px;
  }
}

.c-recruit__wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .c-recruit__wrapper {
    display: block;
    height: 350px;
  }
}
.c-recruit__side {
  width: 25%;
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .c-recruit__side {
    width: 100%;
    height: 150px;
  }
}
.c-recruit__side h2 {
  font-weight: lighter;
  margin: 150px auto 50px auto;
}
@media screen and (max-width: 415px) {
  .c-recruit__side h2 {
    font-size: 18px;
    margin: 30px auto 10px auto;
  }
}
.c-recruit__side h2::after {
  content: "Recruit";
  display: inherit;
  color: #8e8e0b;
}
.c-recruit__side p {
  text-shadow: 2px;
  width: 150%;
  margin: auto;
  background-image: linear-gradient(to right, #f7f7b7 0%, #fff07d 51%, #ecde12 100%);
  position: relative;
  letter-spacing: 3px;
  height: 80px;
  line-height: 80px;
  margin-left: 20px;
  background-size: 200% auto;
  box-shadow: 4px 2px 1px;
  border-radius: 40px;
  position: relative;
}
.c-recruit__side p:hover {
  background-position: right center;
}
@media screen and (max-width: 415px) {
  .c-recruit__side p {
    width: 80%;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin: auto;
  }
}
.c-recruit__hero {
  width: 75%;
  height: 100%;
}
@media screen and (max-width: 415px) {
  .c-recruit__hero {
    width: 100%;
    height: 60%;
  }
}
.c-recruit__bg {
  background: url(../image/r-hero.jpg);
  background-size: cover;
  height: 85%;
}
@media screen and (max-width: 415px) {
  .c-recruit__bg {
    background: none;
    height: 55%;
  }
}
.c-recruit__bg img {
  width: 100%;
  display: none;
}
@media screen and (max-width: 415px) {
  .c-recruit__bg img {
    display: block;
  }
}
.c-recruit__text {
  height: 15%;
  background-color: #14D0B3;
}
.c-recruit__text h1 {
  font-size: 30px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: #14D0B3;
  color: white;
  text-shadow: 1px 1px black;
}
@media screen and (max-width: 415px) {
  .c-recruit__text h1 {
    font-size: 16px;
    color: white;
  }
}

.c-return {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  background: #14D0B3;
  width: 100px;
  height: 50px;
  border: 1px solid;
  font-size: 14px;
  box-shadow: 2px 2px;
  line-height: 50px;
  text-align: center;
  z-index: 10;
  animation-name: moveInRight;
  animation-duration: 0.7s;
}
.c-return:hover {
  transform: scale(1.03);
  opacity: 0.9;
}
.c-return a {
  text-decoration: none;
  color: white;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  display: none;
}
@media screen and (max-width: 415px) {
  .menu-trigger {
    display: block;
    position: fixed;
    width: 50px;
    height: 44px;
    top: 10px;
    left: 80%;
    z-index: 10;
  }
}

.menu-trigger-active {
  transform: rotate(360deg);
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #eee6e6eb;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.sp-menu {
  display: none;
}
@media screen and (max-width: 415px) {
  .sp-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20%;
    left: -350px;
    text-align: center;
    width: 100%;
    padding: 15px;
    z-index: 10;
    background-color: #ffffffdb;
    height: 30%;
    opacity: 0;
  }
  .sp-menu ul {
    height: 100%;
    width: 100%;
  }
  .sp-menu li {
    list-style: none;
    height: 25%;
  }
  .sp-menu a {
    text-decoration: none;
    color: black;
  }
}

.sp-menu-active {
  animation: moveInLeftSpmenu 1s ease-out;
}

/*
@keyframes moveInLeft{
  0%{
      opacity:0;
      transform: translateX(-300px);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}
*/
.c-work__wrapper h2 {
  font-size: 40px;
  text-align: center;
}
.c-work__wrapper h2::after {
  content: "Works";
  display: inherit;
  color: #8e8e0b;
  font-size: 20px;
}
.c-work__wrapper p {
  text-align: center;
}
@media screen and (max-width: 415px) {
  .c-work__wrapper p {
    font-size: 14px;
    width: 80%;
    margin: auto;
    line-height: 20px;
  }
}
.c-work__start {
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.c-work__start button {
  width: 100px;
  height: 40px;
  box-shadow: 2px 2px;
  background-color: #14D0B3;
  color: white;
}
.c-work__group {
  position: relative;
  width: 30%;
}
@media screen and (max-width: 415px) {
  .c-work__group {
    width: 70%;
    margin: 0 auto 30px auto;
  }
}
.c-work__group span {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
  background-color: #06060636;
  padding: 3px;
}
.c-work__image {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
@media screen and (max-width: 415px) {
  .c-work__image {
    display: block;
    margin: auto;
  }
}
.c-work__image img {
  width: 100%;
  box-shadow: 6px 6px;
}
.c-work__popup {
  text-align: center;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 70%;
  transform: 1s;
  box-shadow: 6px 6px;
}
.c-work__popup h3 {
  margin: 20px;
}
.c-work__popup p {
  margin: 10px;
}
.c-work__popup img {
  width: 80%;
  max-height: 100%;
  margin: 20px;
}
.c-work__toptext {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  width: 50%;
  margin: 100px auto;
}
@media screen and (max-width: 415px) {
  .c-work__toptext {
    width: 80%;
    margin: 30px auto;
  }
}
.c-work__target {
  transition: 0.3s;
}
.c-work__target:hover {
  transform: scale(1.05);
}

.c-work__toptext:before, .c-work__toptext:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.c-work__toptext:before {
  left: 10px;
}

.c-work__toptext:after {
  right: 10px;
}

.c-work__toptext h2 {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 415px) {
  .c-work__toptext h2 {
    font-size: 18px;
  }
}

.c-job__infowrapper {
  text-align: center;
}
.c-job__infowrapper h2 {
  margin: 50px auto;
}
.c-job__cards {
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: #06e36761;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .c-job__cards {
    display: block;
    background-color: white;
  }
}
.c-job__card {
  width: 45%;
  margin: auto;
  height: 90%;
  background-color: white;
}
@media screen and (max-width: 415px) {
  .c-job__card {
    width: 100%;
    height: auto;
  }
}
.c-job__card h3 {
  margin: 50px;
  font-style: lighter;
}
@media screen and (max-width: 415px) {
  .c-job__card h3 {
    margin: 20px auto;
  }
}
.c-job__card p {
  margin: 10px;
  letter-spacing: 1px;
  height: 150px;
}
@media screen and (max-width: 415px) {
  .c-job__card p {
    font-size: 12px;
    line-height: 16px;
    height: auto;
  }
}
.c-job__card img {
  width: 60%;
  box-shadow: 4px 4px;
}
.c-job__feature {
  width: 70%;
  height: 100%;
  margin: auto auto 50px auto;
}
@media screen and (max-width: 415px) {
  .c-job__feature {
    height: auto;
  }
}
.c-job__each {
  height: 30%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: white;
}
@media screen and (max-width: 415px) {
  .c-job__each {
    height: auto;
    display: block;
  }
}
.c-job__each img {
  border: 3px solid black;
  height: 80%;
  margin: auto 50px;
}
@media screen and (max-width: 415px) {
  .c-job__each img {
    margin: 20px auto;
    height: auto;
    width: 200px;
  }
}
.c-job__each p {
  width: 75%;
  margin: auto;
}
@media screen and (max-width: 415px) {
  .c-job__each p {
    font-size: 12px;
    width: 90%;
    margin: 10px auto;
  }
}
.c-job__each span {
  font-size: 20px;
}
@media screen and (max-width: 415px) {
  .c-job__each span {
    font-size: 16px;
  }
}

.hidden {
  visibility: hidden;
  height: 0px;
  transition: 0.2s;
}

.opacity {
  opacity: 0;
}

.js-scroll {
  opacity: 1;
  transition: 0.2s;
}

@keyframes toopacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.js-hide__news {
  display: none;
}

.js-hide__work {
  display: none;
  animation-name: moveInBottom;
  animation-duration: 0.5s;
}

.js-hide-left {
  display: none;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
}

.js-hide-right {
  display: none;
  animation-name: moveInRight;
  animation-duration: 0.5s;
}

.u_overlay {
  /*　要素を重ねた時の順番　*/
  z-index: 1;
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
